.green-button {
    -fx-background-color: transparent;
    -fx-text-fill: #059669;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-border-color: #059669;
    -fx-border-radius: 8;
    -fx-border-width: 2
}

.green-button-active {
    -fx-background-color: #059669;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-border-color: #059669;
    -fx-border-radius: 8;
    -fx-border-width: 2
}

.blue-button {
    -fx-background-color: #2563EB;
    -fx-border-color: #2563EB;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-width: 2
}

.white-button {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #909090;
    -fx-font-size: 14;
}

.yellow-button {
    -fx-background-color: #FFA412;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-width: 2
}

.red-button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #E11D48;
    -fx-font-size: 14;
}

.red-button-active {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #E11D48;
    -fx-font-size: 14;
    -fx-underline: true;
}